body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Teko', sans-serif;
    background-color: lighten($color: black, $amount: 2%);
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    .chronometer{
        font-size: 15rem;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#13ca91;
        text-shadow: 0 0 5px #13ca91,
        0 0 25px #13ca91,
        0 0 50px #13ca91,
        0 0 200px #13ca91;
    }
    button{
        font-family: 'Teko', sans-serif;
        font-size: 3rem;
        text-transform: uppercase;
        border: none;
        background-color: lighten($color: black, $amount: 2%);
        color:  #00feca;
        position: absolute;
        bottom: 15%;
        &:hover{
            cursor: pointer;
            background-color:  #00feca;
            box-shadow: 0 0 5px  #00feca,
            0 0 25px 5px #00feca,
            0 0 50px 5px #00feca,
            0 0 200px 5px #00feca;
            transition: 350ms;
            color: black;
        }
        &:active{
            transform: translateY(5px);
            transition: 200ms;
        }
    }
}

@media all and (max-width:750px){
    .container{
        .chronometer{
            font-size: 8rem;
        }
        button{
            font-size: 2rem;
            bottom: -5%;

        }
    }
}